head {
    color: green;
    font-size:x-large;
    font-family: sans-serif;
    display: block;
}

#problemkind {
    background: green;
}

body {
    color: blue;
    font-size:small;
    font-family: sans-serif;
    margin: 100px;
}

#header1 {
    background: green;
}